        html, body, div, span, applet, object, iframe, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
            margin: 0;
            padding: 0;
            border: 0;
        }
        body, html {
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
            font-size: 14px;
            line-height: 1.42857143;
            color: #333;
        }
        pre {
            white-space: pre-wrap;
            white-space: -moz-pre-wrap;
            white-space: -pre-wrap; 
            white-space: -o-pre-wrap; 
            word-wrap: break-word; 
        }
        .page {
            position: relative;
        }
        #header, #navbar, #filterbar, #notice, #filter_bottomm {
            color: #000;
            height: 60px;
            background-color: #fff;
            position: fixed;
            width: 100%;
            z-index: 99;
            border-bottom: 1px solid #efefef;
        }
        .clear {
            clear: both;
        }
        .inner {
            margin: 0 auto;
            width: 1080px;
            padding: 10px;
        }
        ul, menu, dir {
            display: block;
            -webkit-margin-before: 1em;
            -webkit-margin-after: 1em;
            -webkit-margin-start: 0px;
            -webkit-margin-end: 0px;
            -webkit-padding-start: 40px;
        }
        ol, ul {
            list-style: none;
        }
        ul.nav_top {
            line-height: 40px;
            position: absolute;
            width: 1080px;
            margin-top: -10px;
        }
        ul.nav_top {
            line-height: 40px;
            position: absolute;
            width: 1080px;
            margin-top: -10px;
        }
        .nav_top li.btn_head {
            border-left: 1px solid #efefef;
            float: left;
        }
        a, a:link, a:visited, a:hover {
            text-decoration: none;
            font-family: 'ProximaNova-Bold',Helvetica,Arial,sans-serif;
            font-weight: normal;
            font-style: normal;
            outline: 0;
            border: 0;
        }
        .nav li a {
            padding: 10px 13px;
            float: left;
        }
        .nav li.logo a {
            padding: 7px 47px 0 0;
        }
        #header .inner {
            color: #000;
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: .1em;
        }
        .container {
            margin-right: auto;
            margin-left: auto;
            width: 1000px;
        }
        #BottomFrame {
            position: relative;
            height: 50px;
            bottom: 0;
            width: 100%;
            left: 0;
            background-color: #FFFFFF;
        }
        #BottomBar {
            margin: 0;
            padding: 0;
            border-top: solid 1px #CCCCCC;
            clear: both;
            height: 49px;
            text-align: center;
        }
        footer .copyright {
            margin-top: 10px;
            clear: both;
            height: 50px;
            min-height: 50px;
        }
        footer .sitemap {
            color: #333;
            clear: both; 
            padding-top: 30px;
        }
        footer .sitemap ul {
            vertical-align: top; 
            list-style: none; 
            display: inline-block; 
            padding: 0; 
            width: 196px;
        }
        footer .sitemap ul a {
            color: #7f8e99; 
            text-decoration: none;
        }
        .row {
            margin-right: -15px;
            margin-left: -15px;
            box-sizing: border-box;
        }
        .left {
            width: 75%;
            float: left;
            position: relative;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;
            box-sizing: border-box;
        }
        .right {
            width: 25%;
            float: left;
            position: relative;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;
            box-sizing: border-box;
        }
        .bs-docs-sidebar {
            margin-top: 20px;
            padding-left: 20px;
            margin-bottom: 20px;
        }
        nav {
            display: block;
            padding-left: 0;
            list-style: none;
        }
        ul {
            display: block;
            -webkit-margin-before: 1em;
            -webkit-margin-after: 1em;
            -webkit-margin-start: 0px;
            -webkit-margin-end: 0px;
            -webkit-padding-start: 40px;
        }
        .nav>li {
            position: relative;
            display: block;
            clear: both;
            line-height: inherit;
        }
        .nav>li>a {
            display: block;
            padding: 4px 20px;
            font-size: 13px;
            font-weight: 500;
            color: #767676;
            position: relative;
        }
        a {
            background-color: transparent;
            text-decoration: none;
        }
        * {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
        .btn-group-vertical>.btn-group:after, .btn-toolbar:after, .clearfix:after, .container-fluid:after, .container:after, .dl-horizontal dd:after, .form-horizontal .form-group:after, .modal-footer:after, .nav:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after, .panel-body:after, .row:after {
            clear: both;
        }
        .btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
            display: table;
            content: " ";
        }
        .cf:before,
        .cf:after {
            content: " "; /* 1 */
            display: table; /* 2 */
        }
        .cf:after {
            clear: both;
        }
        .well {
            margin-top: 20px;
            padding-left: 20px;
            margin-bottom: 20px;
        }

